@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.css-1890l8n-MuiStack-root h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.first-client-data-row {
    display: flex;

    gap: 10rem;
}

.second-client-data-row {
    display: flex;

    gap: 7rem;

    margin-top: 4rem;
}