@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.css-1890l8n-MuiStack-root h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.first-client-data-row {
    display: flex;

}

.second-client-data-row {
    display: flex;
    margin-top: 4rem;
}

.data-client-space {
    width: 19rem;
}

.box-table-billings-details {
    width: 76%;
    max-height: 80rem;
    background-color: #fff;
    border-radius: 3rem;
    margin-left: 18rem;
    margin-bottom: 5rem;
    overflow-x: auto;
    animation: slideFromRight .7s ease-in-out;
}

.table-header-customer-details ul,
.body-table-customer ul {
    margin: 2rem;
    padding-bottom: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 2fr);
    text-align: center;
    color: #344054;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.table-header-customer-details ul {
    font-weight: bold;
    font-size: 1.5rem;
    align-items: center;

}

.table-header-customer-details img {
    align-items: center;

}