.charge-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.6rem;
  padding-block: 2.3rem;
  border-radius: 3rem;
}
.charge-card.paid {
  background-color: var(--greenSupport-light);
}

.charge-card.expired {
  background-color: var(--wine-light);
}

.charge-card.expected {
  background-color: var(--yellow-light);
}

.charge-texts {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 11px;
}

.animation {
  overflow-x: auto;
  animation: slideFromRight .7s ease-in-out;
}

@keyframes slideFromRight {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}